{% extends "pages/base.html" %}

{% block pageTitle %}

{% endblock pageTitle %}
<div id="logo" class="fl_left">
  <h1><a href="{% url 'pages:home' %}">Return to home</a></h1>
</div>
{% block content %}
  <form class="" action="index.html" method="post">
    {% csrf_token %}
    <div class="box box-warning" >
      <div class="box-header box-with-boder ">

          <h4 class="heading">Décision de pré-selection</h4>
          <p>Fill information</p>
      </div>
        <div class="box-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th colspan="4" align = "center">Editer les infos du doctorant</th>
                    </tr>
                    <tr>
                      <th>CIN</th>
                      <th>Nom</th>
                      <th>Prénom(s)</th>
                      <th>Adresse Mail</th>
                      <th>Equipe</th>

                    </tr>
                  </thead>
                  {% for candidat in list_individus %}
                  <tbody>
                    <tr>
                      <td>{{ candidat.individu.cin }}</td>
                      <td>{{ candidat.individu.nom }}</td>
                      <td>{{candidat.individu.prenoms }}</td>
                      <td>{{ candidat.individu.email }}</td>
                      <td>
                      <div class="form-group">
                        <label>
                          <input type="radio" class="flat-red" name="inpt_{{candidat.individu.cin}}"  value="accepted"    {% if candidat.selection == True %}  checked = "checked" {% endif %}  />
                           Accepter
                        </label>
                        <label>
                          <input type="radio" class="flat-red" name="inpt_{{candidat.individu.cin}}"  value="rejecter"  {% if candidat.selection == False %}  checked = "checked" {% endif %}/>
                              Refuser
                        </label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
                <button type="submit" class="btn btn-primary" >  <span class="fa fa-play"> </span>Valider et Continuer</button>
        </div>
      </div>
  </form>
{% endblock %}
