{% extends "pages/base.html" %}

{% block pageTitle %}

{% endblock pageTitle %}
  <div id="logo" class="fl_left">
    <h1><a href="{% url 'pages:home' %}">Return to home</a></h1>
  </div>
  {% block content %}
    <form class="" action="{% url 'pages:validArticle' article_id=articles.id%}" method="post">
      {% csrf_token %}
      <div class="box box-warning" >
        <div class="box-header box-with-boder ">
            <h3 class="heading" align = "center">Lecture d'un Article</h3>
        </div>
          <div class="box-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>{{articles.titre}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{articles.body}}</td>
                      </tr>
                      <tr>
                        <td><a href="{% url 'pages:deleteArticle' article_id=articles.id %}">Supprimer</a> <a href="{% url 'pages:editArticle' article_id=articles.id %}">Editer</a></td>
                        {% if user.individu.my_status == "professeur" %}
                        <div class="form-group">
                          <label>
                            <input type="radio" class="flat-red" name="inpt_art_{{articles.auteur.candidat.individu.cin}}"  value="accepted"    {% if articles.accept == True %}  checked = "checked" {% endif %}  />
                             Valider
                          </label>
                          <label>
                            <input type="radio" class="flat-red" name="inpt_art_{{articles.auteur.candidat.individu.cin}}"  value="rejected"  {% if articles.accept == False %}  checked = "checked" {% endif %}/>
                                Invalider
                          </label>
                        </div>
                        <button type="submit" name="button" class="btn btn-primary">Valider</button>
                        {% endif %}
                      </tr>
                    </tbody>
                  </table>
          </div>
        </div>
    </form>
{% endblock %}
