{% extends "general/layout.html" %}


{% block content %}
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Déconexion</h6>
      <p>Fill information</p>
    </div>
    <div class="group">
      <div class="one_half first">
          <h2>Vous avez été déconnecté</h2>
          <div class="border-top-pt-3">
            <small class="text-muted">
             <a class="ml-2" href="{% url 'pages:login' %}">Se connecter encore</a>
            </small>
          </div>
      </div>
    </div>
    <!-- ################################################################################################ -->


    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

{% endblock %}
